
<p> 
  There are Club sessions for Golf Croquet on Tuesday and Wednesday mornings, Thursday and Sunday afternoons and Wednesday 
  evening. There is one session for Association Croquet each Sunday morning and two sessions for Bowls on Monday and Wednesday 
  afternoons.
  Some members have very kindly agreed to try to attend some of the Golf Croquet Club sessions on a regular basis so that any member 
  turning up has someone to play with. These are normally the Tuesday and Wednesday morning and Thursday afternoon sessions.
  If you arrive at a Club session and there is no one else there it is a good opportunity to set the hoops out and do some practice.
  This sort of practice can be very valuable in improving your skills. 
  Please play on the full lawn when you can as it is much better practice. The half lawns should normally only be used when there are 
  more than 8 members at a session.
</p>

